block variables
doctype html
html
    head
        meta(charset="UTF-8")
        title SharedTodo | #{title}
        //  Links
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(rel='stylesheet' href='style.css')
        block scripts
            script(src='script.js')
            script(src='pageLoad.js')
    body

        include partials/header
        block content
        include partials/footer